<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PROYECTO_TIENDA</title>

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/AppForms.css" />
</head>
<body>
    <header class="header">
        Tienda "EL HERMANO"
    </header>
    <nav class="nav1">
        @*<img src="./Image/home-icon-silhouette.png" class="icon"/>*@ <a href="~/Index">Inicio</a>
        @*<img src="/Image/almacen.png" class="icon"/>*@ <a href="~/Index">Almacen</a>
        @*<img src="~/Image/bolsa-de-la-compra.png" class="icon"/>*@ <a href="~/Catalogos/Catmanage">Compra</a>
        @*<img src="~/Image/catalogo.png" class="icon"/>*@ <a href="~/Catalogos/CatView">Categoria</a>
        @*<img src="~/Image/cupon.png" class="icon"/>*@ <a href="~/Index">Ventas</a>
        <a href="~/Catalogos/Catmanage">Mantenimiento</a>

        <partial name="_LoginPartial" />
    </nav>
   
    <main class="AppMain">
        @RenderBody()
    </main>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
