<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PROYECTO_TIENDA</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/AppForms.css" />
    <script src="~/js/Utilidades.js"></script>

</head>
<body>
    <header class="header">
        Tienda "EL HERMANO"
    </header>
    <nav class="nav1">
        <ul class="hList">

            <li>
                <div class="menu">
                    <a href="~/Index">
                        <h2 class="menu-title"><img src="~/Image/home-icon-silhouette_w.png" class="icon" />Inicio</h2>
                    </a>
                </div>
            </li>
            <li>
                <div class="menu">
                    <h2 class="menu-title menu-title_6th"><img src="~/Image/almacen_w.png" class="icon" />Inventario</h2>
                    <ul class="menu-dropdown">
                    </ul>
                </div>
            </li>
            <li>
                <div href="#click" class="menu">
                    <h2 class="menu-title menu-title_2nd"><img src="~/Image/bolsa-de-la-compra_w.png" class="icon" />Compra</h2>
                    <ul class="menu-dropdown">
                        <li><a href="~/Catalogos/CompraView">Compra</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="menu">
                    <h2 class="menu-title menu-title_3rd"><img src="~/Image/catalogo_w.png" class="icon" />
                    Catalogos</h2>
                    <ul class="menu-dropdown">
                        <li><a href="~/Catalogos/CatView">Categoria</a></li>
                        <li><a href="~/Catalogos/CatViewMarca">Marca</a></li>
                        <li><a href="~/Catalogos/CatViewTalla">Talla</a></li>
                        <li><a href="~/Catalogos/CatViewProducto">Producto</a></li>
                        <li><a href="~/Catalogos/CatViewClientes">Clientes</a></li>
                        <li><a href="~/Catalogos/CatViewUsuario">Usuarios</a></li>
                        <li><a href="~/Catalogos/ProveedoresView">Proveedores</a></li>

                    </ul>
                </div>
            </li>
       
            <li>
                <div class="menu">
                        <h2 class="menu-title"><<img src="~/Image/cupon_w.png" class="icon"/>
                        Reporte</h2>
                </div>
            </li>

        </ul>
    <partial name="_LoginPartial" />
    </nav>
    <main class="AppMain">
        @RenderBody()
    </main>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
