@page
@model PROYECTO_TIENDA.Pages.Catalogos.CatManageModel
@{

}
<div class="FrmContainer">

    <div>
        Propiedad:
        <input class="TxtForm" type="text" id="" placeholder="Propiedad..." />
    </div>
    <div>
        Propiedad:
        <input class="TxtForm" type="number" id="" placeholder="Propiedad..." />
    </div>
    <div>
        Propiedad:
        <input class="TxtForm" type="date" id="" placeholder="Propiedad..." />
    </div>
    <div>
        Propiedad:
        <input class="TxtForm" type="text" id="" placeholder="Propiedad..." />
    </div>
    <div>
        Propiedad:
        <input class="TxtForm" type="text" id="" placeholder="Propiedad..." />
    </div>
    <div>
        Propiedad:
        <input class="TxtForm" type="text" id="" placeholder="Propiedad..." />
    </div>
    <div>
        Propiedad:
        <input class="TxtForm" type="text" id="" placeholder="Propiedad..." />
    </div>
</div>
@* Seran las cajas "botones" *@
<div class="FrmContainer">
    <div>
        <input class="BTN BTNOK2" type="button" id="" value="OK" />
    </div>
    <div>
        <input class="BTN BTNCancel" type="button" id="" value="CANCELAR" />
    </div>
</div>
@* Tabla estatica de ejemplo, tiene que ser dinamica" *@
<table class="FrmTable">
    <thead>
        <tr>
            <th>Title 1</th>
            <th>Title 2</th>
            <th>Title 3</th>
            <th>Title 4</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Dato</td>
            <td>Dato</td>
            <td>Dato</td>
            <td>Dato</td>
        </tr>
        <tr>
            <td>Dato</td>
            <td>Dato</td>
            <td>Dato</td>
            <td>Dato</td>
        </tr>
        <tr>
            <td>Dato</td>
            <td>Dato</td>
            <td>Dato</td>
            <td>Dato</td>
        </tr>
    </tbody>
</table>