@page
@model PROYECTO_TIENDA.Pages.Catalogos.CatViewProductoModel
@{
}

<script type="module">
    import CreateTable from "../js/TableComponent.js";
    const CargarDatos = async () => {
        let UrlP = "../api/ValuesControllerProducto/GetProducto";
        let response = await fetch(UrlP, {
            method: "POST",
            headers: {
                'Content-Type': "application/json; charset=utf-8",
                'Accept': "*/*"
            }
        });
        response = await response.json();
        console.log(response);
        CreateTable(response, TableData);
    }
    window.onload = async () => {
        BtnSave.onclick = async () => {
            const ObjInst = {
                NombreProducto: TxtNombreProducto.value,
                Descripcion: TxtDescripcionProducto.value,
                Categoria: DropCategoria.value,
                Estado: DropEstado.value
            }
            let Url = "../api/ValuesControllerProducto/SaveProducto";
            let response = await fetch(Url, {
                method: "POST",
                headers: {
                    'Content-Type': "application/json; charset=utf-8",
                    'Accept': "*/*"
                },
                body: JSON.stringify(ObjInst)
            });
            response = await response.json();
            if (response == true) {
                alert("Datos Guardados");
                CargarDatos();
            }
        }
        //Cargar Productos
        CargarDatos();
    }
</script>
<divdiv></divdiv>
<div class="FrmContainer">
    <div>
        NombreProducto:
        <input class="TxtForm" type="text" id="TxtNombreProducto" placeholder="Propiedad..." />
    </div>
    <div>
        Descripcion:
        <input class="TxtForm" type="text" id="TxtDescripcionProducto" placeholder="Propiedad..." />
    </div>
    <div>
        Categoria:
        <select class="TxtForm" id="DropCategoria">
            <option value=1>Camisa</option>
            <option value=2>Falda</option>
            <option value=3>Pantalon</option>
        </select>
    </div>
    <div>
        Estado:
        <select class="TxtForm" id="DropEstado">
            <option value=1>Activo</option>
            <option value=2>Inactivo</option>
        </select>
    </div>
</div>
<div class="FrmContainer">
    <div>
        <input class="BTN BTNOK2" type="button" id="BtnSave" value="Guardar" />
    </div>
</div>
<table id="TableData" class="FrmTable">
    <thead>
    </thead>
    <tbody>
    </tbody>
</table>
