@page
@model PROYECTO_TIENDA.Pages.Catalogos.CatViewClientesModel
@{
}
<script type="module">
    import CreateTable from "../js/TableComponent.js";
    const CargarDatos = async () => {
        let UrlP = "../api/ValuesControllerClientes/GetClientes";
        let response = await fetch(UrlP, {
            method: "POST",
            headers: {
                'Content-Type': "application/json; charset=utf-8",
                'Accept': "*/*"
            }
        });
        response = await response.json();
        console.log(response);
        CreateTable(response, TableData, FunctionEdit);
    }
    const FunctionEdit = async (Item) => {
        TxtIdCliente.value = Item.idCliente;
        DropIdTipoDocumento.value = Item.idTipoDocumento;
        TxtNombres.value = Item.nombres;
        TxtApellidos.value = Item.apellidos;
        TxtSexo.value = Item.sexo;
        TxtCelular.value = Item.celular;
        TxtDireccion.value = Item.direccion;
        TxtCorreo.value = Item.correo;
        DropEstado.value = Item.estado;
    }
    window.onload = async () => {
        BtnSave.onclick = async () => {
            const ObjInst = {
                IdCliente: TxtIdCliente.value,
                IdTipoDocumento: DropIdTipoDocumento.value,
                Nombres: TxtNombres.value,
                Apellidos: TxtApellidos.value,
                Sexo: TxtSexo.value,
                Celular: TxtCelular.value,
                Direccion: TxtDireccion.value,
                Correo: TxtCorreo.value,
                Estado: DropEstado.value
            }
            let Url = "../api/ValuesControllerClientes/SaveClientes";
            let response = await fetch(Url, {
                method: "POST",
                headers: {
                    'Content-Type': "application/json; charset=utf-8",
                    'Accept': "*/*"
                },
                body: JSON.stringify(ObjInst)
            });
            response = await response.json();
            if (response == true) {
                alert("Datos Guardados");
                CargarDatos();
                TxtIdCliente.value = "-1";
                TxtNombres.value = "";
                TxtApellidos.value = "";
                TxtSexo.value = "";
                TxtCelular.value = "";
                TxtDireccion.value = "";
                TxtCorreo.value = "";
            }
        }
        //Cargar Categorias
        CargarDatos();
    }
</script>

<div class="FrmContainer">
    <div hidden="true">
        Id Cliente:
        <input class="TxtForm" type="number" id="TxtIdCliente" value="-1" />
    </div>
    <div>
        TipoDocumento:
        <select class="TxtForm minimal" id="DropIdTipoDocumento">
            <option value=1>Cedula</option>
            <option value=2>Residencia</option>
            <option value=3>RUC</option>
        </select>
    </div>
    <div>
        Nombres:
        <input class="TxtForm" type="text" id="TxtNombres" placeholder="Propiedad..." />
    </div>
    <div>
        Apellidos:
        <input class="TxtForm" type="text" id="TxtApellidos" placeholder="Propiedad..." />
    </div>
    <div>
        Sexo:
        <input class="TxtForm" type="text" id="TxtSexo" placeholder="Propiedad..." />
    </div>
    <div>
        Celular:
        <input class="TxtForm" type="text" id="TxtCelular" placeholder="Propiedad..." />
    </div>
    <div>
        Direccion:
        <input class="TxtForm" type="text" id="TxtDireccion" placeholder="Propiedad..." />
    </div>
    <div>
        Correo:
        <input class="TxtForm" type="text" id="TxtCorreo" placeholder="Propiedad..." />
    </div>
    <div>
        Estado:
        <select class="TxtForm minimal" id="DropEstado">
            <option value=1>Activo</option>
            <option value=2>Inactivo</option>
        </select>
    </div>
</div>
<div class="FrmContainer">
    <div>
        <input class="BTN BTNOK2" type="button" id="BtnSave" value="Guardar" />
    </div>
</div>
<table id="TableData" class="FrmTable">
    <thead>
    </thead>
    <tbody>
    </tbody>
</table>
