@page
@model PROYECTO_TIENDA.Pages.Catalogos.CatManageModel
@{

}
<script type="module">
    import CreateTable from '../js/TableComponent.js';
    const CargarDatos = async () => {
        let UrlPV = "../api/Proveedor/TraerProveedores";
        let response = await fetch(UrlPV, {
            method: "POST",
            headers: {
                'Content-Type': "application/json; charset=utf-8",
                'Accept': "*/*"
            }
        });
        response = await response.json();
        console.log(response);
        CreateTable(response, TableData);
    }
    window.onload = async () => {
        BtnSave.onclick = async () => {
            const ObjInst = {
                //IdProveedor: TxtIdProveedor.value,
                Nombres: TxtNombre.value,
                Apellidos: TxtApellido.value,
                TipoDocumento: DropDocumento.value,
                Celular: TxtCelular.value,
                Correo: TxtCorreo.value,
                Direccion: TxtDireccion.value,
                Estado: DropEstado.value
            }
            let Url = "../api/Proveedor/InsertarProveedores";
            let response = await fetch(Url, {
                method: "POST",
                headers: {
                    'Content-Type': "application/json; charset=utf-8",
                    'Accept': "*/*"
                },
                body: JSON.stringify(ObjInst)
            });
            response = await response.json();
            if (response == true) {
                alert("Datos Guardados");
                CargarDatos();
            }
        }

        CargarDatos();


    }
</script>

<div class="FrmContainer">

    <div hidden="true">
        Id Proveedor:
        <input class="TxtForm" type="number" id="TxtIdProveedor" placeholder="Propiedad..." />
    </div>
    <div>
        Nombre:
        <input class="TxtForm" type="text" id="TxtNombre" placeholder="Propiedad..." />
    </div>
    <div>
        Apellidos:
        <input class="TxtForm" type="text" id="TxtApellido" placeholder="Propiedad..." />
    </div>
    <div>
        TipoDocumento:
        <select class="TxtForm" id="DropDocumento">
            <option value="1">Cedula</option>
            <option value="2">Residencia</option>
            <option value="3">Ruc</option>
        </select>
    </div>
    <div>
        Direccion:
        <input class="TxtForm" type="text" id="TxtDireccion" placeholder="Propiedad..." />
    </div>
    <div>
        Correo:
        <input class="TxtForm" type="text" id="TxtCorreo" placeholder="Propiedad..." />
    </div>
    <div>
        Numero de Celular:
        <input class="TxtForm" type="number" id="TxtCelular" placeholder="Propiedad..." />
    </div>
    <div>
        Estado:
        <select class="TxtForm" id="DropEstado">
            <option value="1">Activo</option>
            <option value="2">Inactivo</option>
        </select>
    </div>
</div>
@* Seran las cajas "botones" *@
<div class="FrmContainer">
    <div>
        <input class="BTN BTNOK2" type="button" id="BtnSave" value="Guardar" />
    </div>
</div>


@* Tabla estatica de ejemplo, tiene que ser dinamica" *@
<table id="TableData" class="FrmTable">
    <thead>
    </thead>
    <tbody>
    </tbody>
</table>